build
dist
node_modules
.env
.DS_Store
.vscode
*.log
coverage
*.tmp
.idea
*.iml
*.swp
*.bak
*.out
*.class
*.exe
*.dll
*.pdb
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db